html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #202020;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.square {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 0.5%;
    margin: 0.5%;
    border: none;
}

.pixel {
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    padding: 10px;
    color: white;
    font-size: 24px;
}

#github, #x {
    width: 24px;
}

#github:hover, #x:hover {
    scale: 1.5;
    transition: 0.5s all ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.toggled {
    background-color: black;
}